node_modules/
dist/
.env
*.keystore
keystore.properties
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.apk
*.aab
vite-*.log
tsconfig.*.tsbuildinfo
.capacitor/
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
